<div class="row mt100">
	<div class="col-md-2"></div>
	<div class="col-md-8 git-form">
		<img class="mb15" src="./assets/images/logo.png">
		<form name="gitForm">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<input type="text" class="form-control input-lg mb15" id="Reponame" [(ngModel)]="Reponame" name="Reponame" autocomplete="off" placeholder="Search Repositories...">
					<button type="submit" class="btn btn-success btn-lg btn-block">Search Repository</button>
				</div>
				<div class="col-md-3"></div>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>	
</div>