

.git-form img {
	width:50%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.git-form a {
    color: #1CAF9A;
    font-size: 13px;
}

.btn-success {
    background-color: #1CAF9A;
    border-color: #17a08c;
    border-radius: 3px;
    color: #fff;
}

.btn-success:focus, .btn-success:active {
    background-color: #17a08c;
    border-color: #17a08c;
}


.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    padding: 12px 20px;
    font-size: 18px;
}


.input-lg {
    font-size: 18px;
    padding: 12px 10px;
}


.mb15 {
	margin-bottom:15px;
}

.mt100 {
	margin-top:100px;
}