<div class="row mt80">
	<div class="col-md-2"></div>
	<div class="col-md-8 git-form">
		<!-- <h1 class="heading">Github Search</h1> -->
		<img class="mb15" src="./assets/images/logo.png">
		<form>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<input type="text" class="form-control input-lg mb15" name="repo" autocomplete="off" placeholder="Search Github Repositories...">
					<button class="btn btn-success btn-lg btn-block" type="submit">Search</button>
					<hr>
				</div>
				<div class="col-md-2"></div>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>	
</div>