
.mt80 {
	margin-top:80px;
}

.mb15 {
	margin-bottom:15px;
}

.mb50 {
	margin-bottom:50px;
}

.profile h4, .git-results h4 {
	color: #1CAF9A !important;
	margin-bottom: 0;
}

.git-results .last-update {
	font-size: 12px;
}

.git-results p {
	margin-bottom: 0px;
}


.stat a {
	color: #1CAF9A !important;
}

.profile img {
	width: 150px;
	height:auto;
}

p.bio {
	font-size: 15px;
}

p.stat {
	font-size: 11px;
	margin-bottom: 2px !important;
}

.profile p {
	margin-bottom: 5px;
}