<!--The content below is only a placeholder and can be replaced -->
<div>
	<div class="mt15 ml15 app-comp"> <!-- Classes Created to Style Content. Styling for this Component can be found in app.component.css -->
		<p>Welcome to GitSearch & Quotes. You Can <strong>Search for Github Users and Repositories</strong>. Can also <strong>Post Quotes and Have People Upvote and Downvote Them</strong>.</p>
		<a class="btn btn-white btn-xs fs17" routerLink='/gitUser' routerLinkActive='active'>Search Git User & Repos</a>&nbsp; <!-- The routerlink is a directive attribute to the anchor tags that takes in a string that is the URL that maps to the route we created in the routes array in our git-routing.module.ts -->
		<a class="btn btn-white btn-xs fs17" routerLink='/quotes' routerLinkActive='active'>Post a Quote</a> <!-- The routerlink is a directive attribute to the anchor tags that takes in a string that is the URL that maps to the route we created in the routes array in our git-routing.module.ts -->
	</div>
    <router-outlet></router-outlet><!-- The router-oulet is a directive provided by the router library. It marks the area where the router should display the different views it loads. -->
</div>

