<!--The content below is only a placeholder and can be replaced.-->
<div>
	<div class="mt15 ml15 app-comp">
		<p>Welcome to GitSearch & Quotes. You Can <strong>Search for Github Users and Repositories</strong>. Can also <strong>Post Quotes and Have People Upvote and Downvote Them</strong>.</p>
		<a class="btn btn-white btn-xs fs17" routerLink='/gitUser' routerLinkActive='active'>Search Git User & Repos</a>&nbsp;
		<a class="btn btn-white btn-xs fs17" routerLink='/gitRepo' routerLinkActive='active'>Post a Quote</a>
	</div>
    <router-outlet></router-outlet>
</div>

