/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'latoregular', sans-serif !important;
    color: #212529;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10000;
}

#status {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    font-size: 32px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.btn-xs {
    padding: 2px 10px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #f7f7f7;
    border-color: #ccc !important;
    -moz-box-shadow: none;
    box-shadow: none;
}

.footer {
	position: fixed; 
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #fff;
	margin-top: 50px;
}
.footer p {
	font-size: 11px;
	margin-bottom: 0px;
	padding: 5px 0px 5px 0px;
}