body {
    font-family: 'darker_grotesqueregular', sans-serif;
}

h1 {
    font-size: 56px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #636e7b;
}

.quote-input p {
	color: #636e7b;
	font-size: 26px;
}

p.error {
    font-size: 13px !important;
    font-weight: 700;
    color:#a94442 !important;
}

.display p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input[type="text"]
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
}

textarea[type="text"]
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
}

.author span {
    font-size: 20px;
    color: #1CAF9A;
}

.btn-lg {
    padding: 12px 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-success {
    background-color: #1CAF9A;
    border-color: #17a08c;
}

.mb0{
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt30 {
    margin-top: 30px;
}

.nomargin {
    margin: 0;
}